@use "common.scss";

.bar-bg {
  background-color: #11111B;
}

.topbar {
  * {
    @extend .transition;
  }
}

.appdockitem {
  transition: all .2s;
  transform: scale(0.75);
  margin: -8px;
}

.appdockitem:hover {
  transform: scale(1);
  margin: 0px;
}

.topbar {
  @extend .h-8;
  font-size: calc(var(--length-4) * 0.875);
}

.kim-popup-window {
  @extend .rounded;
}

.kim-popup-candidate {
  &.kim-popup-candidate-selected {
    // selected candidate box
    border-color: #CBA6F7;
    border-width: 4px;

  }
}

.notification-popup-item {
  border-radius: 12px;
}

.notification-item-low {
  border-radius: 12px;
}

.notification-item-normal {
  border-radius: 12px;
}

.notification-item-critical {
    border-color: #CBA6F7;
    border-width: 4px;
}

.osd-caption-scroll {
  > .overlay-indicator slider {
    opacity: 0;
  }
  .osd-caption {
    font-size: 0.75rem;
  }
}

.wallpaper.wallpaper-overview {
  @extend .rounded;
}

.fixed-height {
  min-height: 80px;
  padding: 0;
}